\documentclass{article}
\usepackage{hyperref}
\usepackage{amsmath}
\usepackage{graphicx}

\title{ {{- title -}} }
\author{ {{- author -}} }
\date{\today}

\begin{document}
\maketitle

\begin{abstract}
{{ abstract }}
\end{abstract}

{% for section in sections %}
\section{ {{- section.title -}} }
{{ section.content }}

{% endfor %}

\bibliographystyle{plain}
\bibliography{references}

\end{document}
